* {
    margin: 0;
    padding: 0;
}

:root {
    --theme-black: #182825;
    --theme-blue: #449DD1;
    --theme-red: #9F4A54;
    --theme-white: #F4EDEA;
}

body {
    background-color: var(--theme-white);
    font-family: 'Courier New', Courier, monospace;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.alert-content,
.content,
.board-area,
.board {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    gap: 30px; 
}

.board-area,
.board {
    width: 100%;
}

.title {
    font-size: 3rem;
    font-weight: bold;
}

.shipbox {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    aspect-ratio: 1/1;
    width: 90%;
    max-width: 600px;
    justify-content: center;
    align-content: center;
    border: solid 2px var(--theme-black);
}

.cell {
    border: solid 1px #18282554;
    aspect-ratio: 1/1;
    cursor: pointer;
}

.msg {
    font-size: 1.5em;
}

.cell.occupied,
.cell.hovered {
    background-color: var(--theme-black);
}

.cell.miss {
    background-color: var(--theme-blue);
}

.cell.hit {
    background-color: var(--theme-red);
}

button {
    background-color: var(--theme-black);
    border: none;
    color: white;
    border-radius: 10px;
    padding: 15px;
    font-size: 1em;
    font-family: 'Courier New', Courier, monospace;
}

.modal.hidden {
    pointer-events: none;
    -webkit-animation: fadeinout 0.5s linear forwards;
    animation: fadeinout 1s linear forwards;
    opacity: 0;
}

.alert.hidden,
.main-game.hidden {
    display: none;
    pointer-events: none;
}

.footer,
.footer > a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 50px;
    padding: 5px;
    background-color: var(--theme-black);
    color: white;
    text-decoration: none;
}

img {
    height: 40px;
}

input {
    border: none;
    border-bottom: solid 1px var(--theme-black);
    font-size: 1.5em;
    text-align: center;
    background-color: transparent;
    font-family: 'Courier New', Courier, monospace;
}

.alert {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #18282557;
}

.alert-content {
    position: absolute;
    border-radius: 10px;
    width: 20%;
    top: 50%;
    left: 50%;
    padding: 20px;
    transform: translate(-50%, -50%);
    background-color: var(--theme-white)
}

@keyframes fadeinout {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}